<div class="main-box">
    <form action="/" method="post">
        <label for="cityInput">City Name : </label>
        <input id="cityInput" type="text" name="cityName">
        <button type="submit">Go</button>
    </form>
</div>