<%-include("header")-%>
    <div class="container main-box">
        <form action="/" method="post">
            <div class="row">
                <div class="input-group">
                    <div class="col-4 form-outline offset-4">
                        <input id="cityInput" type="text" name="cityName" placeholder="City Name" class="form-control" autocomplete="off">
                    </div>
                    <button type="submit" name="button" class="btn btn-success btn-md">Search</button>
                </div>
            </div>
        </form>
    </div>
<%-include("footer")-%>